<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="grids">

        <div class="two">
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">title</h4>
                    <div class="card-subtitle text-muted mb-2">Sub-title</div>
                    <div class="card-text mb-3 text-truncate">
                        <p>
                        </p>
                    </div>
                    <a href="" class="btn btn-primary">Read more</a>
                    <button class="btn btn-secondary">Edit</button>
                    <form action="" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="three">
            <p style="color: white;">Hope you had fun.. <a href="/auth/logout" style="color: white;">Logout?</a></p>
            <h4 style="color: white;">Recently published articles by people around the world.</h4>
            <div class="card mt-4" style="height: 11rem;">
                <div class="card-body">
                    <h4 class="card-title">title</h4>
                    <div class="card-subtitle text-muted mb-1">sub=title</div>
                    <div class="card-text mb-2 text-truncate">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, iusto!
                    </div>
                    <a href="" class="btn btn-primary">Read more</a>
                </div>
            </div>
            <div class="card mt-2" style="height: 11rem;">
                <div class="card-body">
                    <h4 class="card-title">title</h4>
                    <div class="card-subtitle text-muted mb-1">sub=title</div>
                    <div class="card-text mb-2 text-truncate">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus, iusto!
                    </div>
                    <a href="" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        <div class="one">
            <nav class="navbar">
                <ul class="links">
                    <li><a href="">Explore</a></li>
                    <li><a href="">Your articles</a></li>
                    <li><a href="/user/new">Create a post</a></li>
                    <li><a href="/user/profile">Profile</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>